.user_profile {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
  }
  .user_profile:hover {
    background-color: lightgrey;
  }
  
  .user_image {
    width: 45px;
  }
  
  .user_image > img {
    width: 100%;
    border-radius: 100%;
  }
  .user_info {
    flex: 1;
    text-align: left;
    margin-left: 10px;
  }
  .user_name {
    text-transform: capitalize;
    font-size: 15px;
  }
  
  .user_lastmessage {
    font-size: 13px;
    margin-left: 1px;
    margin-top: 2px;
    color: gray;
  }